body {
    background-color: #36486b;
    color: #FFF5EA;
    font-family: Arial, Helvetica, sans-serif;

    max-width: 1020px; 
    margin: 0 auto !important; 
	float: none !important; 
}

h1 {
    margin-bottom: 0;
    color: #fefbd8;
}

h3 {
    color: #fefbd8;
    margin: 32px 0 8px 0;
}

img {
    max-width: 600px;
    margin-top: 4px;
    margin-bottom: 4px;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.sub-title {
    margin-top: 0;
    color: #fefbd8;

}

.mother-div {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.header-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-link {
    background-color: #2e3d5a;
    margin: 4px;
    padding: 4px 12px;
    border-radius: 8px;
    text-decoration: none;
    text-decoration-color: #FFF5EA;
    color: white;

    display: inline-flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.header-link:hover {
    background-color: #212d44;
}

.header-image {
    height: 24px;
    width: 24px;
}

.header-text {
    font-weight: bold;
}

.extensions-grid {
    background-color: #618685;
    padding: 8px;
    border-radius: 24px;
    min-width: 770px;

    display: grid;
    grid-template-columns: minmax(100px, 180px) repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.category {
    grid-column: 1 / span 1;
    font-weight: bold;
    padding: 12px;
    justify-self: start;
    align-self: center;

    /* text-align: end; */
    font-size: x-large;
    color: #FFF5EA;
}

.category {
    grid-column: 1 / span 1;
    font-weight: bold;
    padding: 12px;
    justify-self: start;
    align-self: center;

    display: flex;
    flex-direction: column;
    /* text-align: end; */
}

.category-with-article {
    grid-column: 1 / span 1;
    font-weight: bold;
    margin: 4px;
    padding: 8px;
    border-radius: 16px;
    justify-self: stretch;
    align-self: center;

    display: flex;
    flex-direction: column;
    text-decoration: none;

    transition-duration: 150ms;

    animation-name: darken;
    animation-duration: 1000ms;
    animation-iteration-count: 1 ;
    animation-delay: 700ms;
}

.category-with-article:hover {
    background-color: rgba(0, 0, 0, 0.116);
    transform: rotate(-1deg) translateY(-3px);
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); background-color: rgba(0, 0, 0, 0.116);}
    25% { transform: rotate(3deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); background-color: rgba(0, 0, 0, 0.116);}
}

@keyframes darken {
    60% {background-color: rgba(0, 0, 0, 0.116);}
}

.category-text {
    font-size: x-large;
    color: #FFF5EA;
    margin-bottom: 0;
    /* margin-bottom: 0px; */
}

.article-link {
    color: #FFF5EA;
}

.extension {
    background-color: #2e3d5a;
    margin: 4px;
    padding: 8px;
    border-radius: 16px;
    text-decoration: none;
    text-decoration-color: #FFF5EA;
    /* min-width: 170px; */

    display: flex;
    align-items: center;
    transition-duration: 150ms;
}

.wiggle {
    animation-name: wiggle;
    animation-duration: 800ms;
    animation-delay: 500ms;
}

@keyframes wiggle {
    0% {background-color: #394769;}
    20% {transform: rotate(-1deg) translateY(-3px);}
    80% {transform: rotate(-1deg) translateY(-3px);}
    95% {transform: rotate(0deg) translateY(0px);}
    98% {background-color: #394769;}
    100% {background-color: #2e3d5a;}
}

.extension:hover {
    background-color: #394769;
    transform: rotate(-1deg) translateY(-3px);
}

.extension-image {
    width: 44px;
    height: 44px;
}

.extension-text {
    font-weight: bold;
    margin: 9px 4px 7px 8px;
    color: #FBFFF4;
}

.Dice {
    grid-area: 1/2/1/2;
}

.Initiative {
    grid-area: 2/2/2/2;
}

.Stat-Bubbles-for-DnD {
    grid-area: 3/2/3/2;
}

.Bendy-Ruler {
    grid-area: 5/2/5/2;
}

.Condition-Markers {
    grid-area: 7/2/7/2;
}

.Smoke-n-Spectre {
    grid-area: 8/2/8/2;
}

.DJinni-Music-Player {
    grid-area: 9/2/9/2;
}

.dddice {
    grid-area: 1/5/1/5;
}

.hp-tracker {
    grid-area: 2/3/5/3;
}

.path-measure {
    grid-area: 5/3/5/3;
}

.Marked {
    grid-area: 7/3/7/3;
}

.Tracks {
    grid-area: 9/3/9/3;
}

.Rumble {
    grid-area: 1/3/1/3;
}

.Clash {
    grid-area: 2/4/5/4;
}

.Character-Distances {
    grid-area: 6/2/6/2;
}

.Colored-Rings {
    grid-area: 7/4/7/4;
}

.Sit {
    grid-area: 2/5/2/5;
}

.Movement-Tracker {
    grid-area: 5/4/5/4;
}

.AOE-Shapes {
    grid-area: 6/3/6/3;
}

.Witchdice {
    grid-area: 1/4/1/4;
}

.Token-Counter {
    grid-area: 3/5/3/5;
}

.article {
    background-color: #2e3d5a;
    /* margin-top: 16px;
    margin-bottom: 16px; */
    padding: 16px;
    border-radius: 24px;
    margin-top: 24px;

    display: flex;
    flex-direction: column;
}

.article-title {
    margin-top: 16px;
    margin-bottom: 2px;
    color: #fefbd8;
}

.article-info {
    margin-top: 2px;
    margin-bottom: 24px;
}

.tutorial-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tutorial-link {
    background-color: #2e3d5a;
    margin: 4px;
    padding: 4px 12px;
    border-radius: 8px;
    text-decoration: none;
    text-decoration-color: #FFF5EA;
    color: white;

    display: inline-flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.tutorial-link:hover {
    background-color: #212d44;
}